###**The final idea is to get an 'LBC market price' for canon 7D body only**

> **Scope**: *Ile de France*

***Articles/Ressources that help me along the way***
- [Git repo: JM Portilla Web Scraping Tuto](https://github.com/jmportilla/Web-Scraping/blob/master/Web%20Scraping.ipynb)
- [Article: Querying Craiglist](http://predictablynoisy.com/querying-craigslist-with-python/)
- [Article: Quick Craiglist Data Analysis](http://predictablynoisy.com/quick-craigslist-data-analysis/)
- Useful Links:
    - http://stackoverflow.com/questions/16835449/python-beautifulsoup-extract-text-between-element#
- [Formating IPython Notebook with Markdown¶](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#videos)
- [Scraping multiple pages for parsing in Beautiful Soup](http://stackoverflow.com/questions/8334805/scraping-multiple-pages-for-parsing-in-beautiful-soup)

In [1]:
# Libraries export
from bs4 import BeautifulSoup
import requests

import pandas as pd
from pandas import Series, DataFrame

# regex module
import re

In [34]:
# Méthode pas très classe, à reprendre - done
#page_number = ['1', '2', '3', '4', '5', '6', '7', '8']
page_number = str(range(1,9))
data = []

for numb in page_number:
    url = 'https://www.leboncoin.fr/annonces/offres/ile_de_france/occasions/?o=' + numb + '&q=canon+7D'
    result = requests.get(url)
    c = result.content
    soup = BeautifulSoup(c)
    summary = soup.findAll(True, {'class':['title', 'price']})
    for content in summary:
        purchase_info = content.contents[0].strip()
        data.append(purchase_info)

In [35]:
#url = 'https://www.leboncoin.fr/annonces/offres/ile_de_france/occasions/?o=1&q=canon+7D'

# Request content from web page
#result = requests.get(url)
#c = result.content

# Set as Beautiful Soup Object
#soup = BeautifulSoup(c)

# Take all title and price tag
#summary = soup.findAll(True, {'class':['title', 'price']})

In [36]:
#for content in summary:
#    print content.contents[0].strip()

In [37]:
# Set up empty data list
#data = []

#for content in summary:
    #purchase_info = content.contents[0].strip()
    #data.append(purchase_info)

In [38]:
type(data)

list

In [39]:
data[:10]

[u'Objectif Canon 70-200 f/2.8 USM S\xe9rie I',
 u'790\xa0\u20ac',
 u'Appareil photo reflex num\xe9rique CANON 7D',
 u'640\xa0\u20ac',
 u'Sigma 120-300 f2.8 EX HSM OS+Sigma 1.4+Canon 7D',
 u'1 300\xa0\u20ac',
 u'Canon EOS 7D + 24-105 f4',
 u'950\xa0\u20ac',
 u'CANON 5D Mark III Garantie FNAC 1 AN',
 u'2 000\xa0\u20ac']

In [40]:
# Function to check if there is a number in the string
# http://stackoverflow.com/questions/19859282/check-if-a-string-contains-a-number
# def num_there(s):
#    return any(i.isdigit() for i in s)


# https://www.udemy.com/learning-python-for-data-analysis-and-visualization/learn/#/lecture/2819010

# Set up empty lists
title = []
price = []

# Set index counter
index = 0

# Put title and price in different list
# there seems to be a natural 'counting index' in for...in... loop > hence the index+=1
for item in data:
    
    # if '€' in item, put the item before in 'title' and the current item in 'price'
    if u'\xa0\u20ac' in item:
        title.append(data[index-1])
        price.append(item)
    
    index += 1

In [41]:
title = Series(title)
price = Series(price)

In [42]:
# Concatenate into a DataFrame
annonce_df = pd.concat([title,price],axis=1)

In [43]:
annonce_df.columns = ['Title','Price']

In [44]:
type(annonce_df)

pandas.core.frame.DataFrame

In [45]:
annonce_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 291 entries, 0 to 290
Data columns (total 2 columns):
Title    291 non-null object
Price    291 non-null object
dtypes: object(2)
memory usage: 6.8+ KB

In [46]:
annonce_df['Price'] = annonce_df['Price'].replace(u'\xa0', ' ')
annonce_df.head(5)

                                             Title    Price
0          Objectif Canon 70-200 f/2.8 USM Série I    790 €
1         Appareil photo reflex numérique CANON 7D    640 €
2  Sigma 120-300 f2.8 EX HSM OS+Sigma 1.4+Canon 7D  1 300 €
3                         Canon EOS 7D + 24-105 f4    950 €
4             CANON 5D Mark III Garantie FNAC 1 AN  2 000 €

In [47]:
annonce_df.dtypes

Title    object
Price    object
dtype: object

In [48]:
# Replace € and replace white space and then convert to int
annonce_df['Price'] = annonce_df['Price'].replace( u'\u20ac','', regex=True ).replace(' ', '',regex=True).astype(int)
annonce_df.head(30)

                                                Title  Price
0             Objectif Canon 70-200 f/2.8 USM Série I    790
1            Appareil photo reflex numérique CANON 7D    640
2     Sigma 120-300 f2.8 EX HSM OS+Sigma 1.4+Canon 7D   1300
3                            Canon EOS 7D + 24-105 f4    950
4                CANON 5D Mark III Garantie FNAC 1 AN   2000
5                               Canon EOS 7 D boitier    550
6   Nouveau Canon EF 100-400mm f/4.5-5.6L IS mark ...   1750
7                                         Flash cobra     50
8                                        Canon eos 7d    950
9    Locations matériels photo vidéo reportage studio     10
10                                   Canon 7D mark II    990
11         Objectif tamron af 90mm 2.8 Di macro Canon    250
12                  Objectif canon ef 70-300mm usm is    260
13                           Nikon D300 + Grip MD-D10    540
14     Canon 7D + EF-S 15-85 + 50mm 1.8 + accessoires   1000
15                            Location Canon EOS 550D     25
16               Objectif canon ef 15mm 2.8 Fish Eyes    500
17                        Location studio photo paris     24
18     Canon 550D +Canon EF-S IS 18-55 mm+accessoires    290
19                                        Nikon D300S    480
20                             Canon 7d + Accessoires    200
21                        Grip pour DSLR Canon EOS 7D     45
22          Chargeur Canon LC-E6E pour batterie LP-E6     30
23                                        Sony pmw f3    799
24  Canon 7D, Grip, 4 Objectifs, 2 Flashs, Accesso...   1600
25                       Objectif Canon EF-S 18-55 IS     60
26                              Shoulder cross épaule    130
27                       OBJECTIF CANON 24-70 f/2.8 L    750
28                     Canon 70-200 f/2.8 USM Série I    790
29     Boitier Nikon D700 FX full frame + accessoires    680

In [49]:
annonce_df.dtypes

Title    object
Price     int64
dtype: object

In [50]:
annonce_df.describe()

             Price
count   291.000000
mean    563.371134
std     620.224648
min       1.000000
25%     100.000000
50%     500.000000
75%     800.000000
max    6400.000000

In [28]:
def cat_500(price):
    if 0 <= price <= 500:
        return '0 - 500'
    if 501 <= price <= 1000:
        return '501 - 1000'
    if 1001 <= price <= 1500:
        return '1001 - 1500'
    if 1501 <= price:
        return 'Over 1500'
    
annonce_df['Price Cat'] = annonce_df['Price'].apply(cat_500).astype(str)
annonce_df.head()

                                             Title  Price    Price Cat
0          Objectif Canon 70-200 f/2.8 USM Série I    790   501 - 1000
1         Appareil photo reflex numérique CANON 7D    640   501 - 1000
2  Sigma 120-300 f2.8 EX HSM OS+Sigma 1.4+Canon 7D   1300  1001 - 1500
3                         Canon EOS 7D + 24-105 f4    950   501 - 1000
4             CANON 5D Mark III Garantie FNAC 1 AN   2000    Over 1500

In [29]:
annonce_df.dtypes

Title        object
Price         int64
Price Cat    object
dtype: object

In [30]:
# not so pretty, or method does not seem to work, find why?
def annonce_cat(title):
    if 'objectif' in title:
        return 'bundle'
    if 'objectifs' in title:
        return 'bundle'
    if '+' in title:
        return 'bundle'
    if ',' in title:
        return 'bundle'
    if 'II' in title:
        return 'Mark II'
    else: 
        return 'body'

annonce_df['Annonce Cat'] = annonce_df['Title'].apply(annonce_cat)
annonce_df.head()

,Title,Price,Price Cat,Annonce Cat
0,Objectif Canon 70-200 f/2.8 USM Série I,790,501 - 1000,body
1,Appareil photo reflex numérique CANON 7D,640,501 - 1000,body
2,Sigma 120-300 f2.8 EX HSM OS+Sigma 1.4+Canon 7D,1300,1001 - 1500,bundle
3,Canon EOS 7D + 24-105 f4,950,501 - 1000,bundle
4,CANON 5D Mark III Garantie FNAC 1 AN,2000,Over 1500,Mark II

####Cleaned DF

In [31]:
cleaned_df = annonce_df[annonce_df['Title'].str.contains('(7D|7d)', regex=True)]
cleaned_df.head(10)

/usr/local/lib/python2.7/site-packages/pandas/core/strings.py:207: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  " groups, use str.extract.", UserWarning)

,Title,Price,Price Cat,Annonce Cat
1,Appareil photo reflex numérique CANON 7D,640,501 - 1000,body
2,Sigma 120-300 f2.8 EX HSM OS+Sigma 1.4+Canon 7D,1300,1001 - 1500,bundle
3,Canon EOS 7D + 24-105 f4,950,501 - 1000,bundle
8,Canon eos 7d,950,501 - 1000,body
10,Canon 7D mark II,990,501 - 1000,Mark II
14,Canon 7D + EF-S 15-85 + 50mm 1.8 + accessoires,1000,501 - 1000,bundle
20,Canon 7d + Accessoires,200,0 - 500,bundle
21,Grip pour DSLR Canon EOS 7D,45,0 - 500,body
24,"Canon 7D, Grip, 4 Objectifs, 2 Flashs, Accesso...",1600,Over 1500,bundle
30,Canon EOS 7d + 2 objectifs + garantie,999,501 - 1000,bundle

In [33]:
cleaned_df.describe()

             Price
count   130.000000
mean    810.223077
std     446.430464
min      15.000000
25%     600.000000
50%     725.000000
75%     950.000000
max    2900.000000

In [ ]:
# Let's import what we'll need for the analysis and visualization
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

[Box and whisker plot | Descriptive statistics | Probability and Statistics](https://www.youtube.com/watch?v=b2C9I8HuCe4&feature=youtu.be)

In [ ]:
sns.set_style("whitegrid")
sns.boxplot(x='Price', data=cleaned_df)

In [ ]:
body = cleaned_df[cleaned_df['Annonce Cat'] == 'body']
bundle = cleaned_df[cleaned_df['Annonce Cat'] == 'bundle']
mark_II = cleaned_df[cleaned_df['Annonce Cat'] == 'Mark II']

In [ ]:
body.describe()

In [ ]:
sns.set_style("whitegrid")
sns.boxplot(x='Price', data=body)

In [ ]:
sns.set_style("whitegrid")
sns.boxplot(x='Price', data=bundle)

In [ ]:
sns.set_style("whitegrid")
sns.boxplot(x='Price', data=mark_II)

---
**Areas of improvements**
- ~~change prices into integer~~
- Remove wrong 'annonces' and 'annonces' that sell also lenses
- add publishing dates of the 'annonce'